action-msgs==1.2.2
action-tutorials-interfaces==0.20.8
action-tutorials-py==0.20.8
actionlib-msgs==4.9.1
actuator-msgs==0.0.1
ament-cmake-test==1.3.13
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appdirs==1.4.4
argcomplete==1.8.1
attrs==21.2.0
Babel==2.8.0
beniget==0.4.1
blinker==1.4
Brotli==1.0.9
builtin-interfaces==1.2.2
camera-calibration==3.0.9
camera-d435-rotator==0.0.1
catkin==0.8.10
catkin-pkg==1.1.0
catkin-pkg-modules==1.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.1
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
coloredlogs==15.0.1
composition-interfaces==1.2.2
control-msgs==4.8.0
controller-manager==2.53.1
controller-manager-msgs==2.53.1
cryptography==3.4.8
cuda-bindings==12.9.4
cuda-pathfinder==1.4.3
cv-bridge==3.2.1
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
demo-nodes-py==0.20.8
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.6
distlib==0.3.4
distro==1.7.0
docutils==0.17.1
domain-coordinator==0.10.0
empy==3.3.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.1
filelock==3.25.2
flake8==4.0.1
flatbuffers==25.12.19
fonttools==4.29.1
fs==2.4.12
fsspec==2026.2.0
gast==0.5.2
gazebo-msgs==3.9.0
generate-parameter-library-py==0.6.0
genmsg==0.5.16
genpy==0.6.16
geometry-msgs==4.9.1
gps-msgs==2.1.1
graph-msgs==0.2.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface_hub==1.8.0
humanfriendly==10.0
idna==3.11
ijson==3.2.3
image-geometry==3.2.1
importlib-metadata==4.6.4
iniconfig==1.1.1
interactive-markers==2.3.2
jaka-msgs==0.0.0
jeepney==0.7.1
Jinja2==3.0.3
jiter==0.13.0
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
json_repair==0.58.7
jsonlines==4.0.0
keyring==23.5.0
kiwisolver==1.3.2
label-studio-converter==0.0.59
label-studio-tools==0.0.4
lapx==0.9.4
lark==1.1.1
laser-geometry==2.4.1
launch==1.0.14
launch-param-builder==0.1.1
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lifecycle-msgs==1.2.2
logging-demo==0.20.8
lxml==4.8.0
lz4==3.1.3+dfsg
map-msgs==2.1.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
message-filters==4.3.14
ml_dtypes==0.5.4
more-itertools==8.10.0
moveit==0.1.3
-e git+https://github.com/vinconicola/ros2_tray_handler.git@d088aabe9d0e2667ea4d2a32bb70beda96d88fa8#egg=moveit_configs_utils
moveit-msgs==2.2.1
moveit-task-constructor-msgs==0.1.3
mpi4py==3.1.3
mpmath==1.3.0
natsort==8.4.0
nav-msgs==4.9.1
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.4
notify2==0.3
numpy==1.24.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
olefile==0.46
onnx==1.21.0
onnxruntime-gpu==1.23.2
open3d==0.14.1
openai==2.30.0
opencv-contrib-python-headless==4.11.0.86
opencv-python==4.13.0.92
osrf-pycommon==2.1.6
packaging==21.3
pandas==2.3.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.8
pillow==12.1.1
pluggy==0.13.0
ply==3.11
polars==1.39.2
polars-runtime-32==1.39.2
protobuf==7.34.1
psutil==5.9.0
py==1.10.0
pybase64==1.4.3
pybind11==2.9.1
pycairo==1.20.1
pyclipper==1.4.0
pycodestyle==2.8.0
pydantic==2.12.5
pydantic_core==2.41.5
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
Pygments==2.20.0
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pyparsing==2.4.7
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.18
pytest==6.2.5
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
pythran==0.10.0
pytz==2022.1
PyYAML==5.4.1
qimage2ndarray==1.10.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.8
rcl-interfaces==1.2.2
rclpy==3.3.20
rcutils==5.1.8
realsense2-camera-msgs==4.56.4
regex==2026.3.32
requests==2.32.5
resource-retriever==3.1.3
rich==14.3.3
rmw-dds-common==1.6.0
roman==3.3
ros-gz-interfaces==0.244.11
ros2_numpy==0.0.5
ros2action==0.18.17
ros2bag==0.15.16
ros2cli==0.18.17
ros2component==0.18.17
ros2controlcli==2.53.1
ros2doctor==0.18.17
ros2interface==0.18.17
ros2launch==0.19.13
ros2lifecycle==0.18.17
ros2multicast==0.18.17
ros2node==0.18.17
ros2param==0.18.17
ros2pkg==0.18.17
ros2plugin==5.1.3
ros2run==0.18.17
ros2service==0.18.17
ros2test==0.4.0
ros2topic==0.18.17
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro-modules==1.0.1
rosgraph==1.15.14
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
roslib==1.15.8
rospkg==1.6.1
rospkg-modules==1.6.1
rospy==1.15.14
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-joint-trajectory-controller==2.52.0
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.3
rqt-robot-steering==1.0.3
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
scikit-learn==1.7.2
scipy==1.8.0
SecretStorage==3.3.1
semver==2.10.2
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
shapely==2.1.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
srdfdom==2.0.7
sros2==0.10.9
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
sympy==1.14.0
teleop-twist-keyboard==2.4.1
termcolor==3.3.0
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.19
tf2-kdl==0.25.19
tf2-msgs==0.25.19
tf2-py==0.25.19
tf2-ros-py==0.25.19
tf2-sensor-msgs==0.25.19
tf2-tools==0.25.19
theora-image-transport==2.5.4
threadpoolctl==3.6.0
tokenizers==0.22.2
toml==0.10.2
topic-monitor==0.20.8
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
trajectory-msgs==4.9.1
transformations==2025.1.1
transforms3d==0.3.1
triton==3.6.0
turtlesim==1.4.3
typeguard==2.2.2
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ufoLib2==0.13.1
ujson==5.12.0
ultralytics==8.4.23
ultralytics-thop==2.0.18
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.6.3
uv==0.11.2
vcstool==0.3.0
vision-msgs==4.1.1
visualization-msgs==4.9.1
wadllib==1.3.6
x-anylabeling-cvhub==3.3.10
xacro==2.1.1
yolo-inference==0.0.1
zipp==1.0.0
